{% extends 'base.html.twig' %}

{% block title %}Tuto symfony :{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('assets/Main/main.h1.style.css') }}" />
{% endblock %}
{% block content %}
<div class="example-wrapper">
    <table class="table table-dark">
        <thead>
            <tr>
            <th  class="text-center" scope="col">id</th>
            <th  class="text-center" scope="col">Source</th>
            <th  class="text-center" scope="col">Type</th>
            <th  class="text-center" scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for user in users %}
                {% for produit in user.produits %}
                    <td class="text-center"><p>{{ produit.id }}</p></th>
                    <td class="text-center"><a href="{{ produit.source }}" target="_BLANK">{{ produit.source }}</a></td>
                    <td class="text-center"><p>{{ produit.price.type }}</p></td>
                    <td class="text-center"><p>{{produit.price.labelPrix}}</p></td>
                {% endfor %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <table class="table table-dark">
        <thead>
            <tr>
            <th  class="text-center" scope="col">id</th>
            <th  class="text-center" scope="col">Source</th>
            <th  class="text-center" scope="col">Type</th>
            <th  class="text-center" scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for appartement in appartement %}
            <tr>
                <td class="text-center"><p>{{ appartement.id }}</p></td>
                <td class="text-center"><a target="_BLANK" href="{{ appartement.images }}">{{appartement.images }}</a></td>
                <td class="text-center"><p>{{ appartement.type }}</p></td>
                <td class="text-center"><p>{{ appartement.price.labelPrix }}</p></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}